/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
 .link-card {
  &.card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height:100%;
    .background-image {
      display: block;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .media-content {
      display: flex;
      flex-direction:column;
      align-items: flex-start;
      justify-content: center;
      padding: 1.25rem;
      width:100%;
      &__vertical-top{
        justify-content: flex-start !important;
      }
      .title {
        font-size: 1.25rem !important;
        font-family: acumin-pro-semi-condensed;
        font-weight: 600;
        color: black !important;
      }
      .vertical-subtext{
        font-size: 1.125rem !important;
        font-family: acumin-pro;
        font-weight: 400;
        line-height:1.75rem;
        color:$cool-gray;
      }
    }
  }
  &.media + &.media{
    padding-top:0;
  }
  &--square {
    .media-content {
      display:flex;
      flex-direction: column;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      &__vertical-center{
        justify-content: center !important;
      }
    }
    p {
      color: #555960 !important;
      font-weight: 400 !important;
    }
    .title {
      color: $aged-gold !important;
      font-weight: 600 !important;
    }
    &.media + &.media{
      padding-top:0;
    }
  }
  &__height-auto{
    height:auto !important;
  }
}
a.link-card{
  &.card{
    &:hover,
    &:focus {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);

      .media-content {
        border-left: solid 7px $black;
        padding-left:0.8125rem;
      }
    }
  }
}
a.link-card--square{
  &.card:hover{
    .media-content {
      border-left:none;
      padding-left:1.25rem;
      .title {
        text-decoration: underline;
      } 
    }
  }
}
div.link-card--square{
  &.card:hover{
    box-shadow: 0 .5em 1em -.125em rgba(0,0,0,.1),0 0 0 1px rgba(0,0,0,.02);
    .media-content {
      border-left:none;
      padding-left:1.25rem;
      .title {
        text-decoration: none !important;
      } 
    }
  }
}

.link-card-horizontal {
  height: 100%;
  box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1),
    0 0px 0 1px rgba(0, 0, 0, 0.02);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  text-decoration: none;
  padding: 1rem;
  align-items: center !important;
  &:hover,
  &:focus {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    .media-content {
      .title {
        text-decoration: underline;
      }

      .read-more-button {
        color: #000;
      }
    }
  }
  .media-left {
    width: 128px;
    .image {
      img {
        display: block;
      }
    }
  }
  .media-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) {
      overflow: hidden;
    }

    .title {
      margin-top: 0 !important;
      margin-bottom: 1rem;
      font-family: acumin-pro-semi-condensed;
      font-weight: 600;
      line-height: 1.5;
      text-align: center;
    }

    .read-more-button {
      font-family: "United Sans", Impact, "Arial Black", "sans serif";
      font-weight: 800;
      font-size: 1.125rem;
      text-transform: uppercase;
      color: #8e6f3e;
      span {
        color: inherit;
        position: relative;
        &:after {
          content: "\f105";
          display: inline-block;
          font-family: "Font Awesome 5 Free";
          margin-left: 0.7rem;
          position: absolute;
        }
      }
    }
  }
}
