.section {
  &.has-background {
    &-black {
      &>p {
        color: white;
      }
    }

    &-black-ter {
      &>p {
        color: white;
      }
    }

    &-boiler-gold {
      background: #cfb991 !important;
    }
  }
  &.is-medium{
    padding-top:4rem !important;
    padding-bottom:4rem !important;
  }
  &.is-large{
    padding-top:6rem !important;
    padding-bottom:6rem !important;
  }
  &.side-padding {
    &-lg {
      padding-left: 7rem;
      padding-right: 7rem;

      @media (max-width:768px) {
        padding-left: 2rem;
        padding-right: 2rem;
      }

      @media (max-width:414px) {
        padding: 0;
      }
    }
  }
}

