/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.has-dividers {
  & > .column:not(:last-child) {
    border-right: 1px solid #9d9795;
  }

  @media screen and (max-width: 765px) {
    & > .column:not(:last-child) {
      border-bottom: 1px solid #9d9795;
      border-right: none;
    }
  }

  & > .no-border {
    border-right: none !important;
  }
  &.is-desktop {
    @media screen and (max-width: 1024px) {
      & > .column:not(:last-child) {
        border-bottom: 1px solid #9d9795;
        border-right: none;
      }
    }
  }
}
