$tablet: 768px;
$black:#000000;
$boiler-gold:#CFB991;
$aged-gold:#8e6f3e;
$rush-gold:#daaa00;
$field-gold:#ddb945;
$dust-gold:#ebd99f;
$steel-gray:#555960;
$cool-gray:#6f727b;
$steam-gray:#c4bfc0;
$railway-gray:#9d9795;
$white:#ffffff;
$secondary-background-gray:#f3f3f3;
$primary-background-gray:#ededed;
$teal:#00c4a7;


$acumin-pro-condensed: acumin-pro-condensed,
"Franklin Gothic",
sans-serif;
$acumin-pro-semicondensed: acumin-pro-semi-condensed,
"Franklin Gothic",
sans-serif;
$acumin-pro: acumin-pro,
"Franklin Gothic",
sans-serif;
$united-sans: "United Sans",
Impact,
"Arial Black",
"sans serif";
$united-sans-condensed: "United Sans Condensed",
Impact,
"Arial Black",
"sans serif";
$united-sans-extended: "United Sans Extended",
Impact,
"Arial Black",
"sans serif";

$source-serif-pro: source-serif-pro,Georgia,serif;